body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.rummy-container {
  width: 100%;
}
.full-container {
  background-image: url(../background.png);
  background-size: cover;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 100%; */
}

.frame {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-decoration: none;
}
.frame-img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.heading {
  color: #fff;
  text-align: center;
  font-family: Jomhuria;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-box {
  background: rgba(255, 255, 255, 0.87);
  padding: 20px;
  border-radius: 10px;
}

.login-button {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 449px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 0.5px solid #1b134a;
  background: #091b5b;
  box-shadow: 0px 0px 4px 0px rgba(0, 56, 255, 0.34);
  border: none;
  cursor: pointer;
}

.practice-button {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 449px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 0.5px solid #1b134a;
  background: #de0045;
  box-shadow: 0px 0px 4px 0px rgba(0, 56, 255, 0.34);
  border: none;
  cursor: pointer;
}

.login-heading {
  color: #091b5b;
  font-family: Montserrat;
  font-size: 41px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.description {
  color: #333;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.login-des {
  color: #333;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-subDes {
  color: #5a5e6a;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.smalltext {
  color: #5a5e6a;
  font-family: Montserrat;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.divider {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 1px;
  background: linear-gradient(#333, #fff);
  margin: 5px;
}

.balance-background-container {
  position: absolute;
  top: 5%;
  right: 0%;
  background-color: #d9d9d9;
  opacity: 0.8;
  /* width: 15%; */
  padding: 10px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.balance-main-container {
  padding-left: 15px;
}

.currency-text {
  font-size: 15px;
  font-weight: 400;
  color: #796f6f;
}

.balance-text {
  font-size: 25px;
  color: #d40011;
  font-weight: bold;
}


@media screen and (max-width:1024px) {
  .frame {
    width: 80%;
}
.frame button {
  padding: 10px 20px;
}
}
@media screen and (max-width:767px) {
  .frame {
    width: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
}
}
@media screen and (max-width:600px) {
.login-heading {
  margin-top: 0;
  font-size: 36px;
}

.login-des {
  font-size: 19px;
  margin-top: 0;
}

h4.login-subDes {
  font-size: 14px;
  margin-bottom: 30px;
}

.login-box {
  text-align: center;
}
}